<div class="page">
  <div class="grid-search">
    <app-search [gridToSearch]="requestsGrid"></app-search>
  </div>

  <div class="grid_wrapper">
    <igx-grid #requestsGrid id="requestsGrid" [data]="requests" [primaryKey]="'id'" [autoGenerate]="false"
      [showToolbar]="true" toolbarTitle="Parking Requests" [columnHiding]="false" [allowFiltering]="true" [exportExcel]="true"
      exportText="Export" exportExcelText="Export to Excel"
      height="600px">
      <!--EDIT-->
	  
      <igx-column field="id" header="Edit" width="100px" [filterable]="false" [editable]="false">
        <ng-template igxCell let-value>
          <button igxButton="icon" (click)="editRequest(value)">
            <igx-icon>edit</igx-icon>
          </button>		  
        </ng-template>
      </igx-column>
	  
	  
      <!--APPROVED-->
	  <!-->
	  <igx-column field="APPROVED">
	    <ng-template igxHeader let-column>
          {{ column.field | APPROVED }}
        </ng-template>
      </igx-column>
	  
      <!--NAME-->
	  <!-->
	  <igx-column field="NAME">
	    <ng-template igxHeader let-column>
          {{ column.field | NAME }}
        </ng-template>
      </igx-column>
	  
      <!--EVENT NAME-->
	  <!-->
	  <igx-column field="EVENT NAME">
	    <ng-template igxHeader let-column>
          {{ column.field | EVENT NAME }}
        </ng-template>
      </igx-column>
	  
      <!--EVENT DATE-->
	  <!-->
	  <igx-column field="DATE">
        <ng-template igxCell let-value>
          {{ date | DATE }}
        </ng-template>
      </igx-column>
	  
      <!--EVENT TIME-->
	  <!-->
	  <igx-column field="TIME">
        <ng-template igxCell let-value>
          {{ time | TIME }}
        </ng-template>
      </igx-column>
	  
      <!--REQUEST DATETIME-->
	  <!-->
	  <igx-column field="REQUEST DATETIME">
        <ng-template igxCell let-value>
          {{ date | REQUEST DATETIME }}
        </ng-template>
      </igx-column>
	  
      <!--COMMENTS-->
	  <!-->
	  <igx-column field="COMMENTS">
	    <ng-template igxHeader let-column>
          {{ column.field | COMMENTS }}
        </ng-template>
      </igx-column>
		-->
      
      <igx-column header="Delete" [filterable]="false" [editable]="false" width="100px">
        <ng-template igxCell let-cell="cell">
          <button igxButton="icon" (click)="confirmDeleteRequest(cell.cellID.rowIndex)">
            <igx-icon>delete</igx-icon>
          </button>
        </ng-template>
      </igx-column>
    </igx-grid>

    <div class="marg-top-20 marg-bot-10">
      <button class="full-width rounded" igxButton="raised" igxButtonColor="white" igxButtonBackground="#003086"
        igxRipple="gray" (click)="createRequest()">
        ADD REQUEST
      </button>
    </div>
  </div>

  <igx-dialog #confirmDeleteDialog title="Delete Request?" leftButtonLabel="Cancel"
    (onLeftButtonSelect)="confirmDeleteDialog.close()" rightButtonLabel="OK"
    message="Are you sure you want to delete this request?">
  </igx-dialog>
</div>
