
@import '~igniteui-angular/lib/core/styles/themes/index';
@include igx-core();
@include igx-theme($default-palette);


.page {
    margin: 20px;
    overflow: scroll;
    padding: 0px 10px;
}

.page::-webkit-scrollbar {
    display: none;
}

.grid-search {
    margin: 20px 0px;
}
