<div class="marg-top-20 mid-container">
    <div class="text-center">
        <h5>Create Parking Request</h5>
    </div>
    <app-request-form (onSubmit)="createRequest($event)"></app-request-form>
</div>
