<igx-input-group (click)="openDateTimeDialog($event)" [disabled]="isDisabled">
  <input igxInput #dateTimeInput name="dateTime" autocomplete="off" type="text" [(ngModel)]="displayValue" />
  <label igxLabel for="dateTime">{{ placeholder }}</label>
  <igx-suffix>
    <igx-icon>access_time</igx-icon>
  </igx-suffix>
</igx-input-group>

<igx-dialog #dateTimeDialog title="Select Time" leftButtonLabel="Cancel" (onLeftButtonSelect)="dateTimeDialog.close()"
  rightButtonLabel="Set" (onRightButtonSelect)="selectDateTime($event)" [closeOnOutsideSelect]="true">
  <div class="dialog">
    <div class="marg-bot-10">
      <igx-date-picker class="date-picker" [(ngModel)]="currentDate"></igx-date-picker>
    </div>
    <div class="marg-bot-20">
      <igx-time-picker class="time-picker" [(ngModel)]="currentTime"></igx-time-picker>
    </div>
  </div>
</igx-dialog>