<div class="marg-top-20 mid-container">
    <div class="text-center">
        <h5>Edit Event</h5>
    </div>
    <app-event-form *ngIf="selectedEvent" (onSubmit)="updateEvent($event)"
        [selectedEvent]="selectedEvent">
    </app-event-form>
</div>
