<form *ngIf="eventForm" class="input-group-form" [formGroup]="eventForm">
    <!--ID-->
    <igx-input-group>
        <input igxInput name="id" type="number" formControlName="id" />
        <label igxLabel for="id">Id</label>
    </igx-input-group>
    <!--EVENT NAME-->
    <igx-input-group>
        <input igxInput name="eventName" type="string" formControlName="eventName" />
        <label igxLabel for="eventName">Event Name</label>
    </igx-input-group>

    <!--EVENT DATE TIME-->
    <date-time-select placeholder="Event Date" formControlName="eventDateTime"></date-time-select>



    <div class="button-wrapper marg-bot-20 marg-top-20">
        <button class="full-width rounded" igxButton="raised" igxRipple (click)="submit($event)"
            [disabled]="!eventForm.valid">SUBMIT</button>
    </div>
</form>

<igx-dialog #messageDialog title="Message" [message]="message" leftButtonLabel="OK"
  (onLeftButtonSelect)="messageDialog.close()" [closeOnOutsideSelect]="true">
</igx-dialog>
